<!-- FOormulario para la inscipción de nuevos alumnos -->

<div class="container   mb-3">
    <form [formGroup]="inputForm" (ngSubmit)="getDataForm()">
        <h2>Inscribete a nuestra lista!</h2>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="name" formControlName="name">
            <label for="name">Nombre</label>
            @if (checkControl ('name','required')) {
                <p class="error-msg">Campo requerido</p>
            } 
            @if (checkControl ('name','minlength')){
                <p class="error-msg">El nombre debe tener por lo menos 3 carácteres</p>
            }
        </div>
        <div class="form-floating mb-2">
            <input type="number" min="1" class="form-control" id="age" formControlName="age">
            <label for="age">Edad</label>
            @if (checkControl ('age','required')) {
                <p class="error-msg">Campo requerido</p>
            } 
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="email" formControlName="email">
            <label for="email">Email</label>
            @if (checkControl ('email','required')) {
                <p class="error-msg">Campo requerido</p>
            } 
            @if (checkControl ('email','pattern')){
                <p class="error-msg">Información incorrecta</p>
            }
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" id="description" formControlName="description">
            <label for="description">Añade una breve descripción</label>
        </div>
        <div class="d-flex gap-sm-2">
            <select class="form-select pt-3 pb-3" formControlName="grade">
                <option value="" selected>Selecciona una clase</option>
                @for (grade of arrGrades; track $index) {       <!-- obtenemos la lista de elementos para el select desde BBDD -->
                    <option value="{{grade.value}}">{{grade.title}}</option>
                }
            </select>
            <input type="submit" class="btn btn-outline-info" value="Enviar" [disabled]="!inputForm.valid"> <!-- inhabilitamos el botón de envío en caso el formulario no sea valido -->
        </div>
        @if (checkControl ('grade','required')) {
            <p class="error-msg">Campo requerido</p>
        } 
    </form>
</div>
